<!-- Ricerca paziente nel database -->
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<head>
    <title>Patient Search</title>
</head>

<body>
    <h1>Patient Search</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cerca</button>
    </form>

    {% if pk_persona %}
    <p>La PK della persona trovata è: {{ pk_persona }}</p>
    {% elif errore %}
    <p>{{ errore }}</p>
    {% endif %}
</body>

</html>